<main class="index">
    <header class="masterhead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Tus Links Preferidos</h1>
            <h3 class="mb-5">
                <em>Guarda tus links favoritos</em>
            </h3>
            <a href="/login" class="btn btn-primary">
                Comencemos
            </a>
        </div>
    </header>
</main>