<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>LogIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
                    <form action="/login" method="POST">
                        <div class="from-group">
                            <input type="text" name="usuario" placeholder="Usuario" class="form-control">
                        </div>
                        <br>
                        <div class="from-group">
                            <input type="password" name="contraseña" placeholder="Contraseña" class="form-control">
                        </div>
                        <br>
                        <div class="from-group d-grid gap-2">
                            <button class="btn btn-success">
                                LogIn
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>